<div class="container container-fluid">
<h1>Builtin Pipes</h1>
<div class="row">





<div app-panel header="JsonPipe" [impure]="true" class="col-sm-6">
  Quick object dump with the impure JsonPipe.
  <br>
  <b>Impure</b>: Angular executes an impure pipe during every component change detection cycle.
  An impure pipe is called often, as often as every keystroke or mouse-move.

  <p><p>
  <code>{{ {number: 7} | json }}</code>

  <p>
  from TypeScript:
  <code>{{ jsonOutput }}</code>
</div>



<div app-panel header="String pipes" class="col-sm-6">
  {{ 'LOWERCASE' | lowercase }}

  {{ 'uppercase' | uppercase }}

  {{ 'tHIs is tiTLE CaSe' | titlecase }}
</div>





<div app-panel header="DatePipe" class="col-sm-6">
  <!-- value_expression | date [ : format [ : timezone [ : locale ] ] ] -->

  <p>Works on a Date, a number (ms since UTC epoch), or an <a href="https://www.w3.org/TR/NOTE-datetime">ISO string</a></p>

  <h4>Examples</h4>

  Default: mediumDate format, local system timezone and en-US locale.
  <br>
  Only en-US locale comes shipped with Angular by default.
  <!-- Check app.config.ts for loading other locales -->
  <!-- 'fr' locale is loaded there -->
  <!-- Uncomment DEFAULT_CURRENCY_CODE & DATE_PIPE_DEFAULT_OPTIONS to see it in action! -->
  <br>
  {{ Date.parse('2019-05-01') | date }} = 1 mai 2019

  <br>

  {{ Date.parse('2019-05-01T23:55:00') | date:'yyyy-MM-dd HH:mm:ss' }} = 2019-05-01 23:55:00
  <br>

  <h4>More options</h4>
  <li>Week of year: w=7, ww=07</li>
  <li>Week day: E=Tue, EEEE=Tuesday, EEEEE=T, EEEEEE=Tu</li>
  <li>Month standalone: LLLL=September</li>
  <li>Period: a=am/pm</li>
  <li>Hour 1-12: h=1, hh=01</li>
  <li>Zone: z=GMT-8, Z=-0800</li>

  Or named: short, medium, long, full; shortDate, mediumTime, ...

  <h4>Timezone and locale</h4>

  {{ Date.parse('2019-05-01T23:55:00') | date:"d MMMM yyyy, HH'h'mm":'-0055':'fr' }} = 1 mai 2019, 21h00
</div>






<div app-panel header="Numeric pipes" class="col-sm-6">
  <h2>CurrencyPipe</h2>

  <!-- value_expression | currency [ : currencyCode [ : display [ : digitsInfo [ : locale ] ] ] ] }} -->

  Displays $ as currency sign by default for currencyCode.
  <br>
  {{ 1500.953 | currency:'EUR':'symbol' }} = 1 500,95 €



  <li>currencyCode: USD, EUR, GBP, ...</li>
  <!-- All currencyCodes: https://en.wikipedia.org/wiki/ISO_4217#Active_codes -->
  <li>display: code=USD, symbol=$, a string</li>
  <li>digitsInfo: [minIntegerDigits=1].[minFractionDigits=2]-[maxFractionDigits=2] (ex: 3.2-2 -> 000.00)</li>
  <li>locale: en-US</li>

  <h4>Full example</h4>
  {{ 3.955 | currency:'EUR':'code':'3.2-2':'fr' }} = 003,96 EUR


  <br>
  <br>

  <a href="https://github.com/angular/angular/issues/25461">Issue: Currency Pipe: Be able to set/change the default currency</a>


  <br>


  <h2>DecimalPipe</h2>
  <!-- {{ value_expression | number [ : digitsInfo [ : locale ] ] }} -->
  {{ 25.123 | number:'3.4-4'}} = 025,1230


  <h2>PercentPipe</h2>
  <!-- {{ value_expression | percent [ : digitsInfo [ : locale ] ] }} -->
  {{ 0.259 | percent }} = 26%
</div>




<div app-panel header="Array pipes" class="col-sm-6">
  <h2>KeyValuePipe <small>(Impure)</small></h2>

  Works with Objects and Maps.

  <div *ngFor="let item of object | keyvalue:compareFn">
    {{item.key}} => {{item.value}}
  </div>


  <h2>SlicePipe <small>(Impure)</small></h2>

  <!-- {{ value_expression | slice : start [ : end ] }} -->

  {{ [0, 1, 2, 3, 4] | slice:0:2 | json }} = [ 0, 1 ]
  <br>
  {{ [0, 1, 2, 3, 4] | slice:-1 | json }} = [ 4 ]
  <br>
  {{ [0, 1, 2, 3, 4] | slice:-5:2 | json }} = [ 0, 1 ]
  <br>
  {{ [0, 1, 2, 3, 4] | slice:-5:-2 | json }} = [ 0, 1, 2 ]
</div>






<div app-panel header="AsyncPipe" [impure]="true" class="col-sm-6">

  <!-- {{ obj_expression | async }} -->
  <!-- with obj_expression being an Observable or a Promise -->

  <div>Time: {{ time$ | async }}</div>


  <div *ngIf="time$ | async as time; else loading">
    {{ time }}
  </div>
  <ng-template #loading>
    Waiting...
  </ng-template>

</div>









<!-- <h1>I18nSelectPipe &amp; I18nPluralPipe</h1> -->

<!-- https://angular.io/api/common/I18nSelectPipe -->
<!-- {{ value_expression | i18nSelect : mapping }} -->

<!-- https://angular.io/api/common/I18nPluralPipe -->
<!-- {{ value_expression | i18nPlural : pluralMap [ : locale ] }} -->

</div>


<h1>Custom Pipes</h1>
<div class="row">


  <div app-panel header="Nl2brPipe" class="col-sm-6">
    <div [innerHTML]="'Line1\nLine2' | nl2br"></div>
  </div>

  <div app-panel header="TrimPipe" class="col-sm-6">
    <div>BEGIN{{ '  trimMe  ' | trim:{left: false, right: true, char:' '} }}END</div>
  </div>

  <div app-panel header="BytesPipe" class="col-sm-6">
    <div>{{ 5631024 | bytes:2 }}</div>
  </div>


  <div app-panel header="UCFirstPipe" class="col-sm-6">
    <div>{{ 'my sentence' | ucfirst }}</div>
  </div>

  <div app-panel header="HoursPipe" class="col-sm-6">
    <div>{{ Date.parse('2000-01-01T15:30:00') | hours:true:false }}</div>
  </div>

</div>
</div>
